.comment {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.comment img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 8px;
}

.commentBox {
  flex: 1rem;
}

.commentText {
  background: #37373d;
  padding: 1rem;
  border-radius: 8px;
}

.authorAndTime time {
  display: block;
  font-size: 0.75rem;
  line-height: 1.6;
  color: var(--gray-400);
}

.authorAndTime strong,
span {
  display: block;
  font-size: 0.875rem;
  line-height: 1.6;
}

.commentText header button {
  background: transparent;
  border: 0px;
  color: #828285;
  cursor: pointer;
  line-height: 0;
  border-radius: 8px;
}

.commentText footer button {
  background: transparent;
  border: 0px;
  color: #828285;
  cursor: pointer;
  line-height: 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  border-radius: 2px;
}

.commentText p {
  margin-top: 1rem;
  color: var(--gray-300);
}

.commentBox footer {
  margin-top: 1rem;
}

.commentBox header button:hover {
  background: var(--red-500);
}

.commentBox footer button:hover {
  color: #6004e1;
  background: #29292e;
}

.commentBox footer span::before {
  content: "\2022";
  padding: 0 0.25rem;
}

.commentBox footer button svg {
  margin-right: 0.5rem;
}
