.post {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  border-radius: 1rem;
  background: #202024;
  padding: 1.5rem 2rem 2rem;
  gap: 1rem;
}

.post > header time {
  font-size: 0.875rem;
  color: var(--gray-400);
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.authorInfo strong {
  display: block;
  color: var(--gray-100);
  line-height: 1.6;
}
.authorInfo span {
  display: block;
  font-size: 0.875rem;
  color: var(--gray-400);
  line-height: 1.6;
}

.content p {
  margin-top: 1rem;
  line-height: 1.6;
}
.content a {
  text-decoration: none;
  color: #4b2ee5;
}

.commentArea {
  width: 100%;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--gray-600);
}

.commentArea:focus-within footer {
  visibility: visible;
  max-height: none;
}

.commentArea footer {
  visibility: hidden;
  max-height: 0;
}

.commentArea textarea {
  width: 100%;
  border-radius: 8px;
  margin-top: 1rem;
  margin-bottom: 0.875rem;
  padding: 1rem;
  height: 6rem;
  background: #1e1d1d;
  border-radius: 8px;
  line-height: 1.4;
  resize: none;
  color: var(--gray-100);
  border: 1px solid var(--gray-600);
}

.commentArea button {
  padding: 1rem 1.5rem;
  border-radius: 8px;
  background: #31206e;
  border: 0;
  color: var(--gray-100);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s;
}

.commentArea button:not(:disabled):hover {
  background: #4b2ee5;
}

.commentArea button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.commentList {
  margin-top: 2rem;
}
